header{
  position: fixed;
    height: 100px;
    top: 0;
    width: 100%;
}
main#visual{
    position: relative;
    margin-top: 200px;
}
th.on {
    background-color: gold;
}
th.highlighted {
    background-color: green;
}
th {
    background-color: white;
    width: 7px;
    height: 7px;
}
table {
    border: none;
    border-collapse:collapse;
}

[data-kind]{
    color: #aaa;
    display: inline-block;
}
[data-kind].active{
    color: #333;
}