th.on {
    background-color: gold;
}
th.highlighted {
    background-color: green;
}
th {
    background-color: white;
    width: 7px;
    height: 7px;
}
table {
    border: none;
    border-collapse:collapse;
}
